.container-about {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 4px;
    justify-content: space-between;
}

.container-about-wapper-carrocel {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-top: 4px;
}



/*About - Video*/
.about-video-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.about-video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================================
   SOBRE - CARROSSEL ELEGANTE
================================ */

.about-carousel {
    position: relative;
    width: 30rem;
    height: 15rem;
    overflow: hidden;
    display: flex;
    margin-left: 160px;
    margin-top: 50px;

}

.about-card {
    position: absolute;
    inset: 0;
    padding: 3rem;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80px;

}

/* Primeira entra */
.card-1 {
    animation: slide1 10s infinite;
}

/* Segunda entra depois */
.card-2 {
    animation: slide2 10s infinite;
}

@keyframes slide1 {

    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {

    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.about-card h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
    /* centraliza texto */
    margin-left: auto;
}

.about-card h2::after {
    content: "";
    position: absolute;
    left: 50%;
    /* centraliza a linha */
    transform: translateX(-50%);
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #f6ff00, #ff0000);
    margin-right: auto;
}

.about-card p {
    font-size: 0.95rem;
    line-height: 1.7;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    /* centraliza texto */
    display: flex;
    margin-right: auto;

}

/*==============
    Container de about missão, visão e valores
==============*/
.about-inf-card {
    position: relative;
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-left: -120px;
    margin-right: 15rem;
    margin-bottom: 10rem;
    height: 15rem;
    margin-top: 300px;
}

.info-card {
    width: 10rem;
    padding: 1.5rem 1rem;
    background-color: #ffffffee;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.info-card img {
    width: auto;
    max-height: 4rem;
    margin-bottom: 0.75rem;
}

.info-card h3 {
    font-size: .9rem;
    font-weight: 700;
    color: #750000;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.info-card p {
    font-size: 0.6rem;
    line-height: 1.4;
    color: #333;
    font-weight: 300;
}





@media (max-width: 768px) {

    .container-about-wapper-carrocel {
        flex-direction: column;
        text-align: center;
    }

    .about-carousel {
        max-width: 100%;
    }

    .about-video-wrapper video {
        max-width: 100%;
    }

    .about-inf-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }



}

/* ===================== */
/* MOBILE */
/* ===================== */

@media (max-width: 480px) {

    .about-carousel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-left: -20px;
        text-align: center;

    }

    .about-carousel h2  {
        font-size: 1.2rem;
        margin-left: -60px;
    }
    .about-carousel p  {
        font-size: 1rem;
        margin-left: -60px;
        text-align: center;
        width: 100%;
    }



    .about-inf-card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;


    }


    .info-card {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
        margin-right: 240px;
        margin-bottom: 50px;
        margin-top: -50px;

    }

    .info-card p {
        font-size: 0.8rem;
        line-height: 1.4;
        color: #000000;
        font-weight: 400;
    }

    .info-card h3 {
        font-size: .9rem;
        font-weight: 700;
        color: #750000;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }


    .about-carousel {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .about-card {
        position: relative;
        transform: translateX(0);
        margin-bottom: 1rem;
    }

    .about-video-wrapper {
        position: absolute;

        rotate: 0deg;
        margin-bottom: 1rem;
    }

    .about-video-wrapper video {
        width: 100%;
        justify-content: center;
        height: auto;
        margin-left: 0;

    }


}