@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

/* Global */
body{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /* Glass vermelho */
    background: rgba(117, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    /* Borda inferior com destaque */
    border-bottom: 1px solid rgba(255, 80, 80, 0.4);

    /* Sombra elegante */
    box-shadow: 
        0 8px 30px rgba(0, 0, 0, 0.25),
        0 2px 10px rgba(117, 0, 0, 0.3);

    transition: all 0.3s ease;
}



/* Label to page 1 */
.Label-top-left {
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-right: 200px solid #750000;
    border-bottom: 200px solid transparent;
    position: fixed;
    top: -200px;
    left: -50px;
    rotate: calc(40deg);
    z-index: 2;
}

.Label-top-right {
    width: 400px;
    height: 300px;
    background: rgba(117, 0, 0, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    position: fixed;
    top: 60%;
    transform: translateY(-50%);
    right: -10px;
    z-index: 2;
    clip-path: polygon(
        50% 0%, 
        100% 0%, 
        100% 100%, 
        50% 100%, 
        0% 50%
    );
}

/* Menu e Links de navegação */
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 60px;
}

img.logo-az {
    width: 15%;
    position: fixed;
    z-index: 3;
    margin: 2%;
    object-fit: cover;
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.1));
}

header nav ul {
    display: flex;
    gap: 80px;
    margin-right: 25%;
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    transition: color 0.3s ease;
}

/* Hover elegante */
header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #f6ff00, #ff0000);
    transition: width 0.3s ease;
}

header nav ul li a:hover {
    color: #f6ff00;
}

header nav ul li a:hover::after {
    width: 100%;
}

/* Link ativo */
header nav ul li a.active {
    color: #f6ff00;
    font-weight: 600;
}

header nav ul li a.active::after {
    width: 100%;
}

/* Ícone menu */
header nav i {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

header nav i:hover {
    color: #ffcc00;
}

/*Lista de redes sociais*/
body ul.social-media {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-25%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 3;
}

body ul.social-media li a {
    color: white;
    font-size: 2.2rem;
    transition: 0.3s;
}

body ul.social-media li a:hover {
    color: #ffcc00;
}

body ul.social-media li a i {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0 5px 5px black );
}

body ul.social-media li .fa-solid {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0 5px 5px black );
}

body ul.social-media li a i:hover {
    transform: scale(1.2);
}

body ul.social-media li.contato-fix {
    position: absolute;
    width: 250px;
    height: 25px;
    top: 50%;
    right: 80px;
    transform: translateY(-20%);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: white;
    transition: 0.3s;
    filter: drop-shadow(0 10px 10px black );
}

/* PAGE HOME */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    border-bottom: solid 1px #750000;
    scroll-margin-top: 100px;
}

/* Config hero hero storytelling */ 
section#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 6s ease-in-out;
}

.slide.active img {
    transform: scale(1);
}

.slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.slide-content {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
    max-width: 600px;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-in-out;
}

.slide.active .slide-content {
    opacity: 1;
    transform: translateY(0);
}

.slide-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.slide-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    letter-spacing: 4px;
}

.indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
}

.indicators button.active {
  background: white;
  transform: scale(1.2);
}