@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Global */
body{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px #750000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


/* Label to page 1 */
.Label-top-left {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-right: 200px solid #750000;
    border-bottom: 200px solid transparent;
    position: fixed;
    top: -200px;
    left: -50px;
    rotate: calc(40deg);
    z-index: 2;
}

.Label-top-right {
    width: 400px;
    height: 300px;
    background: rgba(117, 0, 0, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    z-index: 2;
    clip-path: polygon(
        50% 0%, 
        100% 0%, 
        100% 100%, 
        50% 100%, 
        0% 50%
    );
}

/* Menu e Links de navegação */
nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

img.logo-az {
    width: 20%;
    position: fixed;
    z-index: 3;
    margin: 2%;
    object-fit: cover;
    filter: drop-shadow(0 10px 20px rgba(236, 13, 13, 0.5));
}

nav ul {
    display: flex;
    gap: 40px;
    margin-right: 25%;
}

/* PAGE HOME */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    border: solid 1px red;
}

