@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
      
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Global */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /* Glass vermelho */
    background: rgba(117, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    /* Borda inferior com destaque */
    border-bottom: 1px solid rgba(255, 80, 80, 0.4);

    /* Sombra elegante */
    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.25),
        0 2px 10px rgba(117, 0, 0, 0.3);

    transition: all 0.3s ease;
}

/* Label to page 1 */
.Label-top-left {
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-right: 200px solid #750000;
    border-bottom: 200px solid transparent;
    position: absolute;
    top: -200px;
    left: -50px;
    rotate: calc(40deg);
    z-index: 2;
}

img.logo-az {
    width: auto;
    height: 8rem;
    position: absolute;
    z-index: 3;
    margin: 2%;
    object-fit: cover;
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.1));
}


.Label-top-right {
    width: 40%;
    height: 50%;
    background: rgba(117, 0, 0, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    position: fixed;
    top: 60%;
    right: 0px;
    z-index: 2;

    clip-path: polygon(
        50% 0%, 
        100% 0%, 
        100% 100%, 
        50% 100%, 
        0% 50%
    );

    /* Começa escondido */
    transform: translateY(-50%) translateX(120%);
    opacity: 0;
    
    transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1),opacity 0.5s ease;
}

.Label-top-right.show {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
}


/* Menu e Links de navegação */
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 60px;
}



header nav ul {
    display: flex;
    gap: 40px;
    margin-right: 15%;
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    transition: color 0.3s ease;
}

/* Hover elegante */
header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #f6ff00, #ff0000);
    transition: width 0.3s ease;
}

header nav ul li a:hover {
    color: #f6ff00;
}

header nav ul li a:hover::after {
    width: 100%;
}

/* Link ativo */
header nav ul li a.active {
    color: #f6ff00;
    font-weight: 600;
}

header nav ul li a.active::after {
    width: 100%;
}

/* Ícone menu */
header nav i {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

header nav i:hover {
    color: #ffcc00;
}

/*Menu dropdown */
header nav ul li.menu-servicos {
    position: relative;
}

header nav ul .menu-dropdown {
    position: absolute;
    width: 300px;
    margin-top: 18px;
    top: 100%;
    left: -50px;
    background: rgba(120, 0, 0, 0.35);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 80, 80, 0.4);
    border-radius: 20px;
    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.25),
        0 2px 10px rgba(117, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    transition: 0.3s ease;
    z-index: 10;
}

header nav ul .menu-dropdown::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 40px;
    width: 20px;
    height: 20px;
    background: rgba(120, 0, 0, 0.35);
    border-left: 1px solid rgba(255, 80, 80, 0.4);
    border-top: 1px solid rgba(255, 80, 80, 0.4);
    filter: drop-shadow(0 -3px 5px rgba(0, 0, 0, 0.2));
    transform: rotate(45deg);
}

/* Remove padding padrão */
.menu-dropdown ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0;
    padding: 10px;
}

.menu-dropdown a {
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
    display: block;
}


/* MOSTRAR AO PASSAR O MOUSE */
.menu-servicos:hover .menu-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*Lista de redes sociais*/
body ul.social-media {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 3;
}

body ul.social-media li a {
    color: white;
    font-size: 2.2rem;
    transition: 0.3s;
}

body ul.social-media li a:hover {
    color: #ffcc00;
}

body ul.social-media li a i {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0 5px 5px black);
}

body ul.social-media li .fa-solid {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0 5px 5px black);
}

body ul.social-media li a i:hover {
    transform: scale(1.2);
}

body ul.social-media li.contato-fix {
    position: absolute;
    width: 250px;
    top: 50%;
    right: 200px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: white;
    transition: 0.3s;
    filter: drop-shadow(0 10px 10px black);
}

/* PAGE HOME */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    min-height: 100dvh;
    background:
            radial-gradient(circle at 50% 65%, rgba(16, 42, 77, 0.5) 0%, transparent 55%),
            linear-gradient(to bottom, #0a1a2f 0%, #05070d 100%);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    scroll-margin-top: 100px;
}

/* Config hero hero storytelling */
section#home {
    position: relative;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 6s ease-in-out;
}

.slide.active img {
    transform: scale(1);
}

.slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.slide-content {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
    max-width: 600px;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-in-out;
}

.slide.active .slide-content {
    opacity: 1;
    transform: translateY(0);
}

.slide-content h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.slide-content p {
    font-size: 1.1em;
    line-height: 1.6;
    letter-spacing: 4px;
}

.indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.indicators button.active {
    background: white;
    transform: scale(1.2);
}

/*Seçao about */
section#about {
    position: relative;
    overflow: hidden;
}

.container-about {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-top: 4px;
}

.clippy-geometrics {
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
}


.clippy-geometric-left {
    clip-path: polygon(0 0, 0 0, 38% 51%, 0 100%);
    background-color: #750000;
    position: absolute;
    width: 30rem;
    height: 20rem;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
}

.clippy-geometric-right {
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 60% 100%, 0% 20%);
    background-color: #750000;
    width: 15rem;
    height: 20rem;
    top: 100%;
    transform: translateY(-100%);
    right: 0px;
}


/*About - Video*/
.about-video-wrapper {
    position: absolute;
    left: 5rem;
    rotate: 15deg;
    
}

.about-video-wrapper video {
    width: 18rem;
    height: auto;
    margin-left: 5rem;
    object-fit: cover;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
    border-radius: 25px;
}

/* ================================
   SOBRE - CARROSSEL ELEGANTE
================================ */

.about-carousel {
    position: relative;
    width: 30rem;
    height: 15rem;
    overflow: hidden;
    margin-left: auto;
}

.about-card {
    position: absolute;
    inset: 0;
    padding: 2rem;
    border-radius: 20px;
    background: rgba(120, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 80, 80, 0.4);
    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.4),
        0 5px 15px rgba(117, 0, 0, 0.4);

    color: white;

    transform: translateX(100%);
}

/* Primeira entra */
.card-1 {
    animation: slide1 10s infinite;
}

/* Segunda entra depois */
.card-2 {
    animation: slide2 10s infinite;
}

@keyframes slide1 {

    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {

    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.about-card h2 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}

.about-card h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #f6ff00, #ff0000);
}

.about-card p {
    font-size: 0.95rem;
    line-height: 1.7;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.85);
}